@font-face {
    font-family: 'hearts';
    src: url('/font/OLDSH___.TTF');
}

@font-face {
    font-family: 'divider';
    src: url('/font/Cute\ Heart.ttf');
}
/* i used font-face to input fonts that i downloaded from dafont.com */

/* beginning of basic reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    margin: auto;
    height: auto;
}

/* end of reset */


/* this selector changes the highlight color */

*::selection {
    background: pink;
    color: black;
    text-shadow: 1px 1px 1px white;
}

body {
    background-color: #3e3d3d;
    color: #FBC3E4;
    font: 1.5rem 'hearts';
    text-shadow: 2px 2px 2px black;
    text-align: center;
    display: block;
    min-height: 100vh;
    line-height: 2.75rem;
    text-transform: lowercase;
    position: relative;
    letter-spacing: 0.25rem;
}
/* body styling is affecting the look of the page by making all text lowercase, all text in the center, my chosen font, block display and grey background color */

main {
    padding: 4rem;
    height: 100%;
}
/* adds padding and height to the page */

header {
    padding: 2rem;
    background-color: #2d2d2d;
    color: #ffa1d1;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* header styling sets padding to 0, removes the top margin so the header touches the top, changes colors to palette. h1 selector changes font size and adjusts the padding. header li selector displays the links in a line and removes some extra padding */

h1 {
    font-family: 'hearts';
    font-size: 3rem;
}

.nav-h2 {
    padding: 0;
    font-size: 2rem;
    text-shadow: 2px 2px 2px rgb(255, 255, 255);
}

/* beginning of dropdown */
/* all of the dropdown classes below create the dropdown navigation button */


.dropdown-navigation {
    position: relative;
    display: inline-block;
}

.dropdown-button {
    background-color: #3e3d3d;
    color: #ffa1d1;
    text-shadow: 2px 2px 2px black;
    border: 3px solid #ffa1d1;
    border-radius: 20px;
    font: bold 2rem 'hearts';
    letter-spacing: .25rem;
    padding: .5rem 1rem;
}

.dropdown-content {
    display: none;
    list-style-type: none;
    position: absolute;
    background-color: #c29baa;
    color:#2d2d2d;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
    border: 2px solid black;
    right: 0;
}

.dropdown-content a {
    display: block;
    text-decoration: none;
    font-size: 2rem;
    text-shadow: 2px 2px 2px rgb(255, 255, 255);
    color: black;
    padding: 0 1rem;
}

.dropdown-content a:visited {
    color: rgb(28, 27, 27);
}

.dropdown-content a:hover,
.dropdown-content a:focus {
    color: black;
    text-decoration: underline;
}

.dropdown-navigation:hover .dropdown-content {
    display: block;
    padding: 0;
    margin: 0;
}

.dropdown-navigation:hover .dropdown-button {
    background-color: #ffa1d1;
    color: #2d2d2d;
    border: 4px solid black;
    text-shadow: 1px 1px 1px white;
    padding: .5rem 1rem;
}

/* end of dropdown menu */

a {
    color: #ffcde1;
}

a:visited {
    color: #ea72a2;
}

a:hover, a:focus {
    color: #c29baa;
}


a:active {
    color: #A76869;
}

/* all link styling is adjusting the color scheme for the links. h2 and h3 selectors add padding and font size to headings */

h2 {
    font-size: 3rem;
    padding: 2rem 0;
}

h3 {
    padding: 2rem 0;
}

article {
    width: 80%;
    margin: auto;
}

/* article selector sets a width for the page content and centers the page content. images class selector adds border and shape to images with that class */


.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.flex-header {
    justify-self: center;
    width: 800px;
}

.flex-item {
    width: 300px;
    padding: 1.5rem 0;
    font-size: 1rem;
}

.flex-item img {
    border: 2px dashed #ffa1d1;
    border-radius: 15px;
}

.images {
    border: 2px dashed #ffa1d1;
    border-radius: 15px;
}

.caption {
    font-size: 1.25rem;
    padding: 1rem;
}

.paragraph {
    font-size: 1.5rem;
    padding: 1rem 0;
    margin-bottom: 2rem;
    background-color: #2d2d2d;
    border-radius: 20px;
    padding: 1rem;
}

mark {
    background-color: #ffcde1;
    text-shadow: 1px 1px 1px white;
    font-weight: bold;
}


/* mark selector changes the color of the highlight on the mark element, and sets the padding to 0. divider adjusts the images that i chose for a divider instead of using hr. this displays them in a line so they form a full length page divider */

.divider {
    margin: auto;
    display: inline-block;
    font-family: 'divider';
    font-size: 2rem;
    color: #ea72a2;
    letter-spacing: 1rem;
    padding: 2rem;
}

.list {
    background-color: #2d2d2d;
    border: 2px dashed #ffa1d1;
    border-radius: 20px;
    margin: 1.5rem;
    padding: 1rem;
}

ul {
    list-style-position: inside;
    list-style-type: '♥';
}

/* ul adjusts the styling of the lists so the bullets are shaped like hearts and so they come closer to the text on the bullet points. ul li selector adds padding between the list items on the front page */

table {
    margin: auto;
    margin-bottom: 2rem;
}

table, tr, td, th, caption {
    background-color: #2d2d2d;
    border: 2px solid #ffa1d1;
    border-collapse: separate;
    padding: .5rem;
    text-align: center;
}

/* table styling affects the look and spacing on the table. button styling changes the shape, color, and spacing on the button. border radius makes it more rounded. button:hover and button:focus change the look when the button is highlighted and adds shadow to the button */

.a-button {
    background-color: #2d2d2d;
    color: #ffcde1;
    text-shadow: 2px 2px 2px black;
    border: 3px solid #ffa1d1;
    padding: 1rem;
    border-radius: 15px;
    font: bold 1.25rem;
    text-decoration: none;
}

.a-button:hover, .a-button:focus {
    background-color: #ffa1d1;
    color: #2d2d2d;
    text-shadow: 2px 2px 2px rgb(255, 255, 255);
    border: 4px solid #2d2d2d;
    font: 1.5rem;
}

.left-image {
    float: left;
    margin-right: 15px;
    margin-bottom: 10px;
    height: auto;
    border: 3px dashed #ffa1d1;
}

.right-image {
    float: right;
    margin-left: 15px;
    margin-bottom: 10px;
    height: auto;
    border: 3px dashed #ffa1d1;
}

/* beginning of form */

.form {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    font-size: 1.25rem;
    padding: 2rem;
    flex-direction: column;
    background-color: #2d2d2d;
    color: #ffcde1;
    text-shadow: 1px 1px 1px black;
    border-radius: 20px;
    border: 2px dashed #ffcde1;
}

.row {
    display:flex;
    justify-content: center;
}

.column {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.input-group {
    display: flex;
}

.input-group > label {
    margin-right: 1em; 
}

.form input,
.form select {
    flex: 6; 
    margin-bottom: 1rem;
    font: 1rem 'hearts';
}

.form > fieldset {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: none;
}

.form button {
    background-color: #3e3d3d;
    color: #ffa1d1;
    text-shadow: 2px 2px 2px black;
    border: 3px solid #ffa1d1;
    border-radius: 20px;
    font: bold 1.25rem 'hearts';
    letter-spacing: .25rem;
    padding: .5rem 1rem;
}

.form button:hover {
    background-color: #ffa1d1;
    color: #2d2d2d;
    text-shadow: 2px 2px 2px white;
    border: 3px solid black;
}

.music, .animal {
    display: flex;
    flex: 1 1 50%;
    flex-direction: column;
    align-items: center;
}

.music input, .animal input {
    margin: 1rem;
}

fieldset {
    border: none;
}

legend {
    padding: 1rem;
    font: bold 2rem 'hearts';
}

/* end of form */

.cover {
    height: 300px;
    width: 50%;
    background-image: url('/project/img/glaze-speckles.jpg');
    background-size: cover;
    color: white;
    margin-top: 3rem;
    border: 3px dashed #c29baa;
    text-shadow: 2px 2px 2px black;
    border-radius: 15px;
}

footer {
    background-color: #2d2d2d;
    text-align: center;
    padding: 2rem;
    position: relative;
    text-shadow: none;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
}

footer li {
    padding: 1rem;
    display: inline-block;
    padding: 0 1.5rem;
    font-size: 1.25rem;
}

/* footer selector changes styling of footer and centers the content in the footer. changes position of footer. */



/* media queries will go here */

@media screen and (max-width: 768px) {
    main {
        justify-content: center;
        flex-flow: wrap;
        padding: 1rem;
    }

    header li {
        padding: 0.5rem;
    }

    .dropdown-button {
        font-size: 1rem;
    }

    .disappear {
        display: none;
    }

    .divider {
        display: none;
    }

    .a-button {
        font-size: 1rem;
    }

    iframe {
        width: 90%;
    }

    table, tr, td, th, caption {
        display: block;
        padding: .5rem;
        text-align: center;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    header li {
        padding: 0.5rem;
    }
    
    .disappear {
        display: none;
    }
}